{
  "parser": "babel-eslint",
  "extends": "@folio/eslint-config-stripes",
  "rules": {
    "react/prop-types": [
      "error",
      {
        "skipUndeclared": true
      }
    ]
  }
}
